.newsletter-section {
    position: relative;
    overflow: hidden;
    height: 100vh;
    color: var(--text-color);
}

.container-newsletter {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    margin-left: 70px;
}

.newsletter-img {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40%;
}

.newsletter-img img {
    width: 550px;
    height: 600px;
}

.newsletter-area {
    width: 60%;
}

.newsletter-area .subtitle {
    font-size: 30px;
}

.newsletter-area .title {
    font-size: 100px;
}

.description {
    font-family: "Open Sans", sans-serif;
    font-size: 20px;
    font-weight: 200;
    max-width: 75%;
}

.subscribe {
    margin-top: 5%;
    display: flex;
    gap: 15px;
}

.subscribe input {
    width: 20rem;
    height: 3rem;
    background: #131516;
    border-radius: 5px;
    padding: 5%;
}

.subscribe button {
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
    width: 9rem;
    height: 3rem;
    background: var(--primary);
    border-radius: 5px;
}